.jumbotron {
	margin: 0;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-attachment: fixed;
	min-height: 100vh;
	background-image: url("/images/header-pizza-gray.jpg");

	div.jumbotron .jumbotron-fluid {
		margin: 0;
	}

	h1 {
		font-family: $handwritting-font;
		color: $orange;
		font-size: 4rem;
	}
}